{% extends 'base.html' %}
{% load static %}

{% block banner_section %}
<!-- ===========Banner Section start Here========== -->
	<section class="banner-section" style="background-image: url({% static 'images/banner/bg.jpg' %});">
		<div class="container">
			<div class="">
				<div class="banner-content text-center">
					<h4 class="fw-normal theme-color mb-4">TODAY BIG MATCHE</h4>
					<img src="static/images/banner/01.png" alt="banner text thumb" class="mb-4">
					<p>Time : 08:30Pm   -  30 December 2021</p>
					<a href="https://www.youtube.com/embed/g5eQgEuiFC8" class="default-button reverse-effect" data-rel="lightcase"><span>Watch Now <i class="icofont-play-alt-1"></i></span> </a>
				</div>
				<div class="banner-thumb d-flex flex-wrap justify-content-center justify-content-between align-items-center align-items-lg-end">
					<div class="banner-thumb-img ml-xl-50-none">
						<a href="team-single.html"><img src="static/images/banner/06.png" alt="banner-thumb"></a>
					</div>
					<div class="banner-thumb-vs">
						<img src="static/images/banner/vs.png" alt="banner-thumb">
					</div>
					<div class="banner-thumb-img mr-xl-50-none">
						<a href="team-single.html"><img src="static/images/banner/05.png" alt="banner-thumb"></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ===========Banner Section Ends Here========== -->
{% endblock %}

{% block content %}
{% for post in posts %}
    <a href="{% url 'detail' post.category.slug post.slug %}">{{ post }}</a>
{% endfor %}
{% endblock %}